{% extends 'commonheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% block content %}

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Contact</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/index" style="color: white; font-weight: 500; font-size: large;">Home</a></li>
            
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>SJBIT College</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+91 93807 77381</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>autoGrade@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>
{{msg}}
          <div class="col-lg-8">
            <form action="/contact" method="post" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="cname" class="form-control" placeholder="Your Name" required=""
                  style="">
                </div>

                <div class="col-md-6">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required=""
                  style="">
                </div>

                <div class="col-md-6">
                  <input type="text" class="form-control" name="phnum" placeholder="Phone Number" required=""
                  style=""
                  pattern="[6789][0-9]{9}"
                  title="Phone Num should be 10 digits & starts from 6,7,8,9">
                </div>

                <div class="col-md-6">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required=""
                  style="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""
                  style=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <button type="submit" style="border: none; background-color: rgb(104, 104, 234); border-radius: 10px; color: white; width:150px; height:50px;">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

{% endblock %}
</body>
</html>