{% extends 'commonheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% block content %}
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Services</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/index">Home</a></li>
            <li class="current">Services</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-briefcase icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Upload Image</a></h4>
                <p class="description">Upload Image or PDF document for conversion. You can upload any type of input images or documents, such as PDF, Tiff, PNG, BMP and other. One limitation for the input document is that the file size is no more than 15 MB</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-card-checklist icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Language and output</a></h4>
                <p class="description">You should select appropriated recognition language for most accuracy conversion image to text. And also, you may choose output format (MS Doc, Excel or plain text file)</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-bar-chart icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Searchable PDF</a></h4>
                <p class="description">The most useful feature is converting a scanned PDF into a searchable PDF. This option allows you to quickly find the necessary information in the extracted text. This function is often used by libraries and government agencies to digitize their archives.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-binoculars icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Education</a></h4>
                <p class="description">Teachers and students can convert scanned study notes, textbooks and lecture notes into text for better exam preparation. Scanned lectures takes a lot of space on your hard drive or phone. The text-based version, created via image to text converter takes up much less space.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-brightness-high icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Book Digitization</a></h4>
                <p class="description">Book digitization is the process of converting physical books, magazines and other records into digital media using an image to text converter.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-calendar4-week icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Data mining</a></h4>
                <p class="description">Data mining is the process of extracting and discovering patterns in large data sets using methods that intersect machine learning, statistics, and database systems. Image to text conversion is the first step in preparing structured information to data mining set.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

{% endblock %}
</body>
</html>